.u-animation-pulse {
  animation: pulse 2s infinite;
}

.u-animation-bounce {
  animation: bounce 2s infinite;
}

.u-animation-delay-1-5 {
  animation-delay: 1.5s;
}

@keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 6px);
    transform: translate(0, 6px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}


@keyframes bounce {
  0%,20%,53%,80%,to {
    -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
    animation-timing-function: cubic-bezier(.215,.61,.355,1);
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }

  40%,43% {
    -webkit-transform: translate3d(0,-5px,0);
    transform: translate3d(0,-5px,0)
  }

  40%,43%,70% {
    -webkit-animation-timing-function: cubic-bezier(.755,.05,.855,.06);
    animation-timing-function: cubic-bezier(.755,.05,.855,.06)
  }

  70% {
    -webkit-transform: translate3d(0,-2.5px,0);
    transform: translate3d(0,-2.5px,0)
  }

  90% {
    -webkit-transform: translate3d(0,-2px,0);
    transform: translate3d(0,-2px,0)
  }
}
