.u-bg-pattern-bottom {
  background-image: url('../img/bg/pattern-bottom.svg');
  background-repeat: repeat-x;
  background-position: bottom left;
  background-size: 28px 12px;
  padding-bottom: rem-calc(20);
}

.u-bg-gradient {
  background: linear-gradient(135.85deg, #3D2D82 34.31%, #7A2578 114.82%);
}

.u-bg-branch {
  z-index: 10;
  position: absolute;
  display: block;
  width: rem-calc(196);
  height: rem-calc(149);
  background-image: url('../img/bg/branch-bg.svg');
  background-repeat: no-repeat;

  @include breakpoint(xlarge) {
    width: rem-calc(346);
    height: rem-calc(365);
  }
}

.u-bg-branch--top {
  left: rem-calc(-60);
  top: rem-calc(-70);

  @include breakpoint(xlarge) {
    left: rem-calc(190);
    top: rem-calc(-140);
  }
}

.u-bg-branch--bottom {
  @include rotate(185);
  bottom: rem-calc(-80);
  right: rem-calc(-80);

  @include breakpoint(xlarge) {
    @include rotate(145);
    bottom: rem-calc(-80);
    right: rem-calc(-200);
  }
}

.u-bg-gift {
  z-index: 10;
  position: absolute;
  display: block;
  width: rem-calc(120);
  height: rem-calc(142);
  background-image: url('../img/bg/gift-bg.svg');
  background-repeat: no-repeat;
  position: absolute;
  bottom: rem-calc(13);
  left: rem-calc(-43);

  @include breakpoint(xlarge) {
    width: rem-calc(300);
    height: rem-calc(355);
    bottom: rem-calc(17);
    left: rem-calc(-100);
  }
}

.u-bg-decoration {
  z-index: 10;
  position: absolute;
  display: block;
  width: rem-calc(80);
  height: rem-calc(91);
  background-image: url('../img/bg/decoration-bg.svg');
  background-repeat: no-repeat;
  position: absolute;
  top: rem-calc(10);
  right: rem-calc(-10);

  @include breakpoint(xlarge) {
    width: rem-calc(189);
    height: rem-calc(216);
    top: rem-calc(23);
    right: rem-calc(-27);
  }
}

.u-bg-stars {
  position: relative;

  &:before {
    content: '';
    display: block;
    background-image: url('../img/bg/stars-top-bg.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: rem-calc(18);
    height: rem-calc(22);
    position: absolute;
    right: 10%;
    top: rem-calc(-20);

    @include breakpoint(large) {
      width: rem-calc(22);
      height: rem-calc(22);
      right: 27%;
    }
  }

  &:after {
    content: '';
    display: block;
    background-image: url('../img/bg/stars-bottom-bg.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: rem-calc(294);
    height: rem-calc(30);
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: rem-calc(-30);

    @include breakpoint(large) {
      width: rem-calc(490);
      height: rem-calc(50);
      bottom: rem-calc(-50);
    }
  }
}

.u-bg-video {
  &:after {
    content: '';
    display: block;
    padding-bottom: 56%;
    overflow: hidden;
    height: 0;
    width: 99.9%;
    background-image: url('../img/bg/video-bg.svg');
    opacity: 0.2;
    position: relative;
    z-index: 1;
    top: rem-calc(15);
    right: rem-calc(-15);

    @include breakpoint(large) {
      top: rem-calc(30);
      right: rem-calc(-30);
    }
  }
}