// Responsive space helpers create margin/padding on certain breakpoints, eg. xsmall-pt-15, large-mt-10
// Breakpoints maps used from default Zurb foundation settings stored in $breakpoints
@include make-space('u', $space-values, $space-prefixes, $breakpoints);

.u-z-index-9 {
  position: relative;
  z-index: 9;
}

.u-z-index-11 {
  position: relative;
  z-index: 11;
}

.u-display-block {
  display: block;
}

.u-display-inline-block {
  display: inline-block;
}

.u-display-flex {
  display: flex;
}

.u-text-uppercase {
  text-transform: uppercase;
}

.u-hover-text-underline {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.u-text-underline {
  text-decoration: underline;
}

.u-hover-white {
  &:hover,
  &:focus {
    color: $white !important;
  }
}

.u-hover-primary {
  &:hover,
  &:focus {
    color: $primary-color !important;
  }
}

.u-border-bottom {
  border-bottom: 1px solid rgba($white, 0.2);
}

.u-large-w-700 {
  @include breakpoint(large) {
    max-width: rem-calc(700);
    margin: 0 auto;
  }
}

.u-large-w-600 {
  @include breakpoint(large) {
    max-width: rem-calc(600);
    margin: 0 auto;
  }
}

.u-medium-w-375 {
  @include breakpoint(medium) {
    max-width: rem-calc(375);
    margin: 0 auto;
  }
}

.u-large-w-900 {
  @include breakpoint(large) {
    max-width: rem-calc(900);
    margin: 0 auto;
  }
}

.u-xlarge-w-900 {
  @include breakpoint(xlarge) {
    max-width: rem-calc(900);
    margin: 0 auto;
  }
}


.u-thumbnail {
  border-radius: 50%;
  border: 3px solid $white;
  width: rem-calc(60);

  @include breakpoint(large){
      width: rem-calc(100);
  }
}

.u-full-width {
  width: 100%;
}

.u-letter-spacing {
  letter-spacing: 0.1em;
}

.u-position-relative {
  position: relative;
}