$size-list: 12 13 14 15 17 18 20 24 27 28 30 36 48 60 65;
@each $size in $size-list {
  .u-fs-#{$size} {
    font-size: rem-calc($size)!important;
  }
}

$size-list-large: $size-list;
@include breakpoint(large) {
  @each $size in $size-list-large {
    .u-large-fs-#{$size} {
      font-size: rem-calc($size)!important;
    }
  }
}

$size-list-xlarge: $size-list;
@include breakpoint(xlarge) {
  @each $size in $size-list-xlarge {
    .u-xlarge-fs-#{$size} {
      font-size: rem-calc($size)!important;
    }
  }
}

$font-weight-list: 400 500 700 900;
@each $font-weight in $font-weight-list {
  .u-fw-#{$font-weight} {
    font-weight: $font-weight!important;
  }
}

@each $size in $size-list {
  .u-lh-#{$size} {
    line-height: rem-calc($size);
  }
}

.u-lh-1 {
  line-height: 1;
}

.u-ff-body {
  font-family: $body-font-family;
}
