.button {
  color: $white;
  background: $secondary-color;
  border-radius: rem-calc(100);
  font-size: rem-calc(14);
  display: inline-block;
  font-weight: 900;
  padding: rem-calc(22 35);
  text-transform: uppercase;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  text-align: center;

  @include breakpoint(large) {
    padding: rem-calc(24 35);
    font-size: rem-calc(15);
  }

  &:hover {
    color: $white;
    background: darken($secondary-color, 6);
  }
}

.button--small-down-expanded {
  @include breakpoint(small down) {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: rem-calc(22 5);
  }
}