@include breakpoint(xlarge){
  .fp-section {
    width: 100%!important;
    position: absolute!important;
    left: 0;
    top: 0;
    transition: all 0.7s ease-in-out;
  }

  .fp-section:not(.active) {
    visibility: hidden!important;
    opacity: 0!important;
  }

  .fp-section.active {
    visibility: visible!important;
    opacity: 1!important;
    z-index: 1!important;
  }
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: $white!important;
}

.fp-scroll-link {
  opacity: 0;
  transition: transform 1s cubic-bezier(0.16, 0.68, 0.43, 0.99),
  opacity .8s ease-in-out;
  transform: translateY(500px);
}

.section.active > .fp-tableCell .fp-scroll-link {
  transform: translatey(0);
  transition-delay: 1.5s;
  opacity: 1;
}

.fullpage-wrapper {
  @include breakpoint(large down){
    transform: none!important;
  }
}
