.logo {
  position: relative;

  &:after {
    content: '';
    background: -moz-radial-gradient(center, ellipse cover,  rgba(61,45,130,1) 0%, rgba(61,45,130,1) 12%, rgba(61,45,130,0) 67%, rgba(61,45,130,0) 99%);
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(61,45,130,1) 0%,rgba(61,45,130,1) 12%,rgba(61,45,130,0) 67%,rgba(61,45,130,0) 99%);
    background: radial-gradient(ellipse at center,  rgba(61,45,130,1) 0%,rgba(61,45,130,1) 12%,rgba(61,45,130,0) 67%,rgba(61,45,130,0) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d2d82', endColorstr='#003d2d82',GradientType=1 );

    width: rem-calc(200);
    height: rem-calc(200);
    @include absolute-center;
    z-index: -1;
  }

  img {
    width: rem-calc(40);

    @include breakpoint(xlarge) {
      width: rem-calc(60);
    }
  }
}

.logo--fixed {
  @include breakpoint(large) {
    position: fixed;
    left: rem-calc(30);
    top: rem-calc(30);
    z-index: 999;
  }

  @include breakpoint(xlarge) {
    left: rem-calc(100);
    top: rem-calc(100);
  }
}