$particle-colors:  $secondary-color, $tertiary-color, $white;
$particle-blurs:  0px, 10px, 20px;
$particle-sizes:  86px, 106px, 128px, 164px, 180px, 218px, 266px, 282px;
//$particle-opacities:  20%, 50%, 90%;
$particle-opacities:  0.2, 0.5, 0.9;

@mixin particle-animation($i) {
  @keyframes particle-animation-#{$i} {
    100% {
      transform: translate3d((random(100) * 1vw), (random(100) * 1vh), (random(100) * 1px));
    }
  }
}

.particle-container {
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100vh;
  position: fixed;
}

.particle-container--backgrounds {
  z-index: 1;
}

.particles {
  opacity: 0.75;
  position: relative;
  z-index: 7;
}

.particle {
  position: absolute;
  border-radius: 50%;

  &:nth-child(1) {
    background-color: rgba($white, 0.2);
    filter: blur(5px);
    animation-delay: -2s;
    animation: particle-animation-1 100s -2s infinite alternate forwards;
    transform: translate3d(410px, -134px, 0);
    width: rem-calc(282);
    height: rem-calc(282);
  }

  &:nth-child(2) {
    width: rem-calc(180);
    height: rem-calc(180);
    background-color: rgba($white, 0.9);
    filter: blur(10px);
    transform: translate3d(106px, 339px, 0);
    animation-delay: -1s;
    animation: particle-animation-2 100s -2s infinite alternate forwards;
  }

  &:nth-child(3) {
    width: rem-calc(128);
    height: rem-calc(128);
    background-color: rgba($white, 0.2);
    filter: blur(5px);
    transform: translate3d(328px, 470px, 0);
    animation-delay: 2s;
    animation: particle-animation-3 80s -2s infinite alternate forwards;
  }

  &:nth-child(4) {
    width: rem-calc(266);
    height: rem-calc(266);
    background-color: rgba($secondary-color, 0.5);
    filter: blur(5px);
    transform: translate3d(-63px, 660px, 0);
    animation-delay: -1s;
    animation: particle-animation-4 120s -2s infinite alternate forwards;
  }

  &:nth-child(5) {
    width: rem-calc(180);
    height: rem-calc(180);
    background-color: rgba($secondary-color, 0.5);
    border: 1px solid rgba($secondary-color, 0.75);
    transform: translate3d(392px, 527px, 0);
    animation-delay: -5s;
    animation: particle-animation-5 100s -2s infinite alternate forwards;
  }

  &:nth-child(6) {
    width: rem-calc(180);
    height: rem-calc(180);
    background-color: rgba($white, 0.9);
    transform: translate3d(85vw, 100px, 0);
    filter: blur(10px);
    animation-delay: 0s;
    animation: particle-animation-6 100s -2s infinite alternate forwards;
  }

  &:nth-child(7) {
    width: rem-calc(164);
    height: rem-calc(164);
    background-color: rgba($secondary-color, 0.5);
    transform: translate3d(91vw, 187px, 0);
    filter: blur(5px);
    animation-delay: -2s;
    animation: particle-animation-7 100s -2s infinite alternate forwards;
  }

  &:nth-child(8) {
    width: rem-calc(86);
    height: rem-calc(86);
    background-color: rgba($secondary-color, 0.5);
    transform: translate3d(78vw, 35vh, 0);
    filter: blur(5px);
    animation-delay: -3s;
    animation: particle-animation-8 100s -2s infinite alternate forwards;
  }

  &:nth-child(9) {
    width: rem-calc(106);
    height: rem-calc(106);
    background-color: rgba($secondary-color, 0.5);
    border: 1px solid rgba($secondary-color, 0.75);
    transform: translate3d(75vw, 41vh, 0);
    animation-delay: -3s;
    animation: particle-animation-9 100s -2s infinite alternate forwards;
  }

  &:nth-child(10) {
    width: rem-calc(282);
    height: rem-calc(282);
    background-color: rgba($white, 0.2);
    filter: blur(5px);
    transform: translate3d(80vw, 50vh, 0);
    animation-delay: -4s;
    animation: particle-animation-10 400s -2s infinite alternate forwards;
  }

  &:nth-child(11) {
    width: rem-calc(218);
    height: rem-calc(218);
    background-color: rgba($secondary-color, 0.5);
    border: 1px solid rgba($secondary-color, 0.75);
    transform: translate3d(78vw, 64vh, 0);
    animation-delay: -3s;
    animation: particle-animation-11 300s -2s infinite alternate forwards;
  }

  @include breakpoint(large down){
    &:nth-child(1) {
      width: rem-calc(112);
      height: rem-calc(112);
      transform: translate3d(0px, 272px, 0);
    }

    &:nth-child(2) {
      display: none;
    }

    &:nth-child(3) {
      display: none;
    }

    &:nth-child(4) {
      display: none;
    }

    &:nth-child(5) {
      width: rem-calc(71);
      height: rem-calc(71);
      transform: translate3d(-15px, 534px, 0);
    }

    &:nth-child(6) {
      display: none;
    }

    &:nth-child(7) {
      display: none;
    }

    &:nth-child(8) {
      display: none;
    }

    &:nth-child(9) {
      width: rem-calc(98);
      height: rem-calc(98);
      transform: translate3d(82vw, 294px, 0);
    }

    &:nth-child(10) {
      display: none;
    }

    &:nth-child(11) {
      width: rem-calc(48);
      height: rem-calc(48);
      transform: translate3d(80vw, 161px, 0);
    }
  }
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(5vw, 13vh, 36px);
  }
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(5vw, 13vh, 36px);
  }
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(50vw, 30vh, 80px);
  }
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(30vw, 90vh, 150px);
  }
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(70vw, 10vh, 0);
  }
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(81vw, 10vh, 0);
  }
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(81vw, 81vh, 0);
  }
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(100vw, 10vh, 0);
  }
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(100vw, 100vh, 0);
  }
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(-100vw, 50vh, 0);
  }
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(20vw, 15vh, 0);
  }
}
