.section {
  width: 100%;
  display: inline-block;
}

.section--100vh {
  @include flexbox;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

.section__center {
  @include flexbox;
  //@include align-items(center);
  //@include justify-content(center);
  @include flex-wrap(wrap);
  height: 100%;
  width: 100%;
}