.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide-active {
  z-index: 99;
  //animation: fade-in 0.3s ease-in both;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
}

.swiper-container-gifts-thumbs {

  .swiper-slide-active {
    animation: none;
  }

  @include breakpoint(xlarge) {
    height: rem-calc(333);
    overflow: visible;

    &:before {
      content: '';
      width: rem-calc(1);
      height: 95%;
      background: rgba($white, 0.2);
      position: absolute;
      left: rem-calc(-38);
      top: rem-calc(8);
    }
  }

  @include breakpoint(large down) {
    padding: rem-calc(20 0 40 0);

    &:before {
      content: '';
      width: 100%;
      height: rem-calc(65);
      position: absolute;
      bottom: rem-calc(18);
      left: 0;
      background-color: $primary-color;
    }

    &:after {
      content: '';
      width: 100%;
      height: rem-calc(1);
      background-color: rgba($white, 0.2);
      position: absolute;
      bottom: rem-calc(18);
      left: 0;
    }
  }

  .swiper-slide {
    font-weight: 600;
    font-size: rem-calc(15);
    cursor: pointer;
    @include no-select;

    @include breakpoint(large down) {
      margin-right: rem-calc(30);
      width: auto;

      &:first-child {
        margin-left: rem-calc(30);
      }
    }

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      text-decoration: none;
    }
  }

  .swiper-slide-thumb-active {
    color: $secondary-color;
    font-weight: 900;
    position: relative;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    &:before {
      content: '';
      width: rem-calc(14);
      height: rem-calc(14);
      border: 1px solid $secondary-color;
      background: $primary-color;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: rem-calc(-30);
      transform: rotate(45deg);
    }

    @include breakpoint(xlarge) {
      &:before {
        left: rem-calc(-38-7);
        top: rem-calc(8);
        right: auto;
        bottom: auto;
      }
    }
  }
}

.swiper-title {
  word-break: break-word;
}