---
title: Riesenia.com - vyberte si svoj Vianočný darček
---

{{> page-background }}

<div id="full-page" class="u-z-index-9">
	<div data-anchor="wellcome" class="section fp-section fp-auto-height-responsive active">
		<div class="grid-y grid-frame text-center u-z-index-9">
			<div class="cell auto u-display-flex">
				<div class="u-full-width align-self-middle">
					<div class="grid-container grid-container--responsive">
						<a href="https://www.riesenia.com/" target="_blank" class="logo hide-for-large u-xsmall-mb-30 u-display-inline-block">
							<img src="{{ROOT}}assets/img/r-symbol.svg" alt="Riesenia.com">
						</a>
						<div class="u-z-index-9">
							<h1 class="u-fs-27 u-large-fs-65 u-fw-700 u-xsmall-mb-50 u-large-mb-70 u-bg-stars">Pokojné a krásne sviatky
								<small class="u-fs-18 u-lh-30 u-large-fs-30 u-fw-400 u-c-white u-display-block u-xsmall-mb-10 u-text-uppercase u-ff-body">želáme Svetu nápojov</small>
							</h1>
							<span class="u-fs-13 u-large-fs-15 u-fw-900 u-letter-spacing u-c-white u-hover-white u-text-uppercase u-display-inline-block u-animation-pulse">
								Prezrite si video príebeh
							</span>
							<div class="u-large-w-700 u-xlarge-w-900">
								<div id="video" class="responsive-embed-container u-xsmall-mt-20 u-bg-video">
									<iframe class="responsive-embed" src="https://www.youtube.com/embed/uJcn6kRsBH8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="cell shrink">
				<div class="fp-scroll-link ">
					<a href="#intro" class="u-fs-13 u-large-fs-15 u-letter-spacing u-c-white u-hover-white u-text-uppercase u-hover-text-underline u-display-inline-block u-animation-bounce u-xsmall-mb-30 u-large-mb-60">
						<span class="inline-flex">
							Scrollujte nižšie
							<svg class="icon icon--stroke icon--stroke-1 u-xsmall-ml-10">
								<use xlink:href="{{ ROOT }}assets/img/icons.svg#icon--icon-angle-down"></use>
							</svg>
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div data-anchor="intro" class="section fp-section fp-auto-height-responsive">
		<div class="grid-y grid-frame text-center u-z-index-9">
			<div class="cell auto u-display-flex">
				<div class="u-full-width align-self-middle">
					<div class="grid-container grid-container--responsive">
						<div class="u-bg-stars">
							<h2 class="u-fs-36 u-large-fs-65 u-fw-700 u-xsmall-mb-10 u-large-mb-20">Príbehy s odmenou</h2>
							<p class="u-fs-20 u-lh-36 u-large-fs-24 u-c-white u-display-block u-xsmall-mb-30 u-large-mb-50 u-text-uppercase u-ff-body">
								Darček si zvolíte <br class="hide-for-medium">na základe príbehu, <br class="show-for-large">ktorý vás osloví.
							</p>
						</div>
						<div class="fp-scroll-link">
							<a href="#stories" class="u-fs-13 u-large-fs-15 u-letter-spacing u-c-white u-hover-white u-text-uppercase u-hover-text-underline u-display-inline-block u-animation-bounce u-animation-delay-1-5 u-xsmall-mb-30 u-large-mb-60">
								<span class="inline-flex">
									Scrollujte nižšie
									<svg class="icon icon--stroke icon--stroke-1 u-xsmall-ml-10">
										<use xlink:href="{{ ROOT }}assets/img/icons.svg#icon--icon-angle-down"></use>
									</svg>
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div data-anchor="stories" id="stories-section" class="section fp-section fp-auto-height-responsive">
		<div class="xlarge-grid-y xlarge-grid-frame u-bg-gradient u-position-relative">
			<div class="cell auto u-display-flex">
				<div class="u-full-width align-self-middle">
					<div class="grid-container grid-container--responsive-0">
						<div class="grid-x">
							<div class="cell xlarge-3 xxlarge-2 u-xlarge-pt-100 u-xlarge-pl-40 u-xsmall-mb-20 u-xlarge-mb-0" data-sticky-container>
								<div id="top-anchor"></div>
								<div class="sticky" data-sticky data-top-anchor="top-anchor:top" data-btm-anchor="bottom-anchor:bottom" data-margin-top="0" data-sticky-on="xsmall">
									<div class="swiper-container swiper-container-gifts-thumbs">
										<div class="swiper-wrapper">
											{{#each gifts}}
											<div class="swiper-slide u-display-flex align-middle">
												{{this.user_name}}<span class="show-for-xlarge">&nbsp;{{this.user_surename}}</span>
											</div>
											{{/each}}
										</div>
									</div>
								</div>
							</div>
							<div class="cell xlarge-9 xxlarge-10">
								<div class="swiper-container swiper-container-gifts u-xsmall-pl-20 u-xsmall-pr-20 u-xlarge-pl-0 u-xlarge-pr-0">
									<div class="swiper-wrapper">
										{{#each gifts}}
										<div class="swiper-slide">
											<div class="grid-x grid-margin-x">
												<div class="cell xlarge-7">
													<div class="grid-x align-middle u-xsmall-mb-25 u-large-mb-35 u-xsmall-pt-10">
														<div class="cell shrink">
															<img class="u-thumbnail" src="{{ROOT}}assets/img/peoples/{{this.user_id}}.png" alt="{{this.user_name}}">
														</div>
														<div class="cell auto u-xsmall-ml-10 u-large-ml-20">
															<h3 class="swiper-title u-fs-28 u-large-fs-60 u-lh-1 u-fw-700 u-xsmall-mb-5">{{this.user_name}}&nbsp;{{this.user_surename}}</h3>
															<span class="u-c-secondary u-fw-900 u-text-uppercase u-fs-12 u-large-fs-15 u-display-block">/ {{this.user_position}}</span>
														</div>
													</div>
													{{{this.description}}}
													{{#if this.cta_text}}
													<button data-open="thank-you-modal" class="button button--small-down-expanded u-xsmall-mb-40 u-xlarge-mb-0">{{ this.cta_text }}</button>
													{{/if}}
												</div>
												<div class="cell xlarge-5 show-for-xlarge">
													<img src="{{ROOT}}assets/img/gifts/{{this.gift_id}}.png" alt="{{this.user_name}} - {{this.country}}" width="700" loading="lazy">
												</div>
											</div>
										</div>
										{{/each}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="cell shrink text-center u-z-index-9">
				<div class="fp-scroll-link">
					<a href="#wellcome" class="u-fs-13 u-large-fs-15 u-letter-spacing u-c-white u-hover-white u-text-uppercase u-hover-text-underline u-display-inline-block u-animation-bounce u-xsmall-mb-30 u-large-mb-60">
						<span class="inline-flex">
							Scrollujte nahor
							<svg class="icon icon--stroke icon--stroke-1 u-xsmall-ml-10">
								<use xlink:href="{{ ROOT }}assets/img/icons.svg#icon--icon-angle-up"></use>
							</svg>
						</span>
					</a>
				</div>
			</div>
		</div>
		<div id="bottom-anchor"></div>
	</div>
</div>

<div class="reveal" id="thank-you-modal" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
	<button class="close-button" data-close aria-label="Close modal" type="button">
		<span aria-hidden="true">&times;</span>
	</button>
	<a href="https://www.riesenia.com/" target="_blank" class="u-display-inline-block u-xsmall-mb-70 u-large-mb-50">
		<img src="{{ROOT}}assets/img/r-symbol-colored.svg" alt="Riesenia.com" width="40">
	</a>
	<div class="u-large-w-600 text-center">
		<h4 class="u-fs-30 u-xlarge-fs-48 u-lh-1 u-xsmall-mb-30">Ďakujeme, že ste si vybrali tento príbeh</h4>
		<p class="u-xsmall-mb-30">
			Na adresu <strong>Trenčianksa 53/B, 821 08 Bratislava</strong> vám bude doručený magický darček.
		</p>
		<a href="" class="u-fs-17 u-text-underline u-c-secondary u-hover-primary u-xsmall-mb-80 u-display-block">Chcete vybrať inú adresu?</a>
		<div class="text-center">
			<a href="thank-you.html" class="button u-fs-14 u-large-fs-15" data-close>Zatvoriť okno</a>
		</div>
	</div>
</div>