---
title: Riesenia.com - Pokojné a krásne sviatky
---

{{> page-background }}

<div class="section u-z-index-9">
	<div class="grid-y grid-frame text-center u-z-index-9">
		<div class="cell auto u-display-flex">
			<div class="u-full-width align-self-middle">
				<div class="grid-container grid-container--responsive">
					<div class="u-bg-stars">
						<h2 class="u-fs-36 u-large-fs-65 u-fw-700 u-xsmall-mb-10 u-large-mb-20">Pokojné a krásne sviatky</h2>
						<p class="u-fs-15 u-lh-28 u-large-fs-17 u-c-white u-display-block u-xsmall-mb-30 u-large-mb-50 u-large-w-700">
							Vestibulum ipsum metus, efficitur ut ornare vitae, hendrerit non erat. Nullam sodales leo feugiat mi feugiat porttitor. Nullam tempor lectus vitae bibendum laoreet. Duis neque ipsum, imperdiet in eleifend non, pellentesque interdum dui.
						</p>
						<a href="https://www.riesenia.com/" target="_blank">
							<img src="{{ROOT}}assets/img/logotype.svg" alt="Riesenia.com" loading="lazy" width="200">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>