/*
 * Responsive margins
 * eg.: xsmall-mt-30 becomes margin-top:30; on xsmall screen
 */

// margin and padding values array
$space-values: 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 90, 100, 150, 200 !default;
// margin and padding shorthands
$space-prefixes: (p: padding, pt: padding-top, pr: padding-right, pb: padding-bottom, pl: padding-left, m: margin, mt: margin-top, mr: margin-right, mb: margin-bottom, ml: margin-left) !default;

// main function definition
@mixin make-space($prefix, $values, $prefixes, $breakpoints) {
  @each $breakpoint-name, $breakpoint-value in $breakpoints {
    // if xs value = 0, set it global without media queries
    @if $breakpoint-value == 0 {
      @each $attr-short, $attr-long in $prefixes {
        @each $value in $values {
          $new-value: rem-calc($value);

          .#{$prefix}-#{$breakpoint-name}-#{$attr-short}-#{$value} {
            #{$attr-long}: #{$new-value}!important;
          }
        }
      }
    }
    @else {
      @media screen and (min-width: $breakpoint-value) {
        @each $attr-short, $attr-long in $prefixes {
          @each $value in $values {
            $new-value: rem-calc($value);

            .#{$prefix}-#{$breakpoint-name}-#{$attr-short}-#{$value} {
              #{$attr-long}: #{$new-value}!important;
            }
          }
        }
      }
    }
  }
}
