<a href="#wellcome" class="logo logo--fixed show-for-large u-display-inline-block">
	<img src="{{ROOT}}assets/img/r-symbol.svg" alt="Riesenia.com">
</a>

<div class="particle-container u-bg-gradient">
	<div class="particles">
		{{#repeat 11}}
		<div class="particle"></div>
		{{/repeat}}
	</div>
</div>

<div class="particle-container particle-container--backgrounds">
	<span class="u-bg-branch u-bg-branch--top"></span>
	<span class="u-bg-branch u-bg-branch--bottom"></span>
	<span class="u-bg-gift"></span>
	<span class="u-bg-decoration"></span>
</div>