.icon {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  font-size: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon--stroke {
  fill: none;
}

.icon--stroke-0-5 {
  stroke-width: 0.5;
}

.icon--stroke-1 {
  stroke-width: 1;
}

.icon--stroke-2 {
  stroke-width: 2;
}

.icon--stroke-3 {
  stroke-width: 3;
}

.icon--stroke-4 {
  stroke-width: 4;
}


