.grid-container--responsive {
  @include breakpoint(medium down) {
    padding-left: rem-calc(20);
    padding-right: rem-calc(20);
  }
}

.grid-container--responsive-0 {
  @include breakpoint(large down) {
    padding-left: 0;
    padding-right: 0;
  }
}

.grid-container--narrow {
  @include breakpoint(xlarge){
      max-width: rem-calc(1200);
  }
}

.xlarge-grid-y {
  @include breakpoint(xlarge){
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column nowrap;
  }
}

.xlarge-grid-frame {
  @include breakpoint(xlarge){
    width: auto;
    overflow: hidden;
    position: relative;
    flex-wrap: nowrap;
    align-items: stretch;
    height: 100vh;
  }
}