//Pouziti inline flex pro zarovnani ikon a obrazku s textem
.inline-flex {
  display: inline-flex;
  vertical-align: middle;
  @include align-items(center);
  @include justify-content(center);

  & > .icon,
  & > .icon-circle {
    @include flex-value(0 0 auto);
  }
}

.inline-flex--568 {
  display: block;

  @include breakpoint(568){
    display: inline-flex;
  }
}

.inline-flex--full {
  width: 100%;
  vertical-align: middle;
  @include justify-content(start);
}

.inline-flex--align-center {
  @include justify-content(center);
}

.inline-flex--align-top {
  @include align-items(flex-start);
}

.inline-flex__last {
  margin-left: auto;
}